.navbar,
.links {
  display: flex;
}

.navbar {
  height: 80px;
  width: 100%;
  background-color: rgba(19, 19, 19, 0.913);
  a {
    text-decoration: none;
    color: white;
  }
}

.links {
  align-items: center;
  gap: 100px;
}
