.product {
  display: flex;
  width: 300px;
  height: 300px;
  flex-direction: column;
  gap: 10px;

  img {
    border-radius: 25px;
  }
}

.addToCartBtn {
  height: 30px;
  text-decoration: none;
  border: 2px solid black;
  color: black;
  border-radius: 20px;
  background-color: white;
}

.addToCartBtn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
