.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 8, 8, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  text-align: center;
  position: relative;
  background-color: white;
  width: 448px;
  padding: 56px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(19, 19, 19, 0.3);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #191919;
}

.modal-title {
  font-size: 32px;
  color: #191919;
}

.modal-description {
  font-size: 16px;
  margin-top: 42px;
  margin-bottom: 64px;
  color: #7f7f7f;
}

.modal-buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

.modal-button-positive {
  padding: 16px 20px;
  width: 192px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #8a33fd;
  color: #fff;
}

.modal-button-negative {
  padding: 16px 20px;
  width: 192px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #8a33fd;
  background-color: #fff;
  color: #8a33fd;
}
